
img {
	width: 100%;
}
.name_main h1 {
	color: #0173b1;
	font-weight: 700;
	font-size: 65px;
}
label {
	background: #0173b1; 
	width: 100%;
	padding: 5px;
	color: #fff;
}
h5 {font-weight: 600;}
h4 {font-size: 12px;}

.left_main {
	padding-top: 40px;
}
.name_main h1.color-orng{
  color: #ff5722;
}
label.color-orng {
	background: #fff; 
	width: 100%;
	padding: 5px;
	color: #ff5722;
	border-bottom: 1px solid #ccc;
}
.org-color h5 span i{
	color: #ff5722;
}
